@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --primary-color: #00D084;
    --secundary-color: #3a5683;
    --accent1-color: rgb(39, 8, 160);
    --accent2-color: #62b6cb;
    --pharagraph-on-color: #cae9ff;
    --dark: #343a40;
    --white: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    overflow-x: hidden;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

img {
    vertical-align: middle;
    border-style: none;
}

.home-area {
    position: relative;
}

.home-left-area {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 38%;
    border-radius: 50px;
    width: 480px;
}

.home-left-area:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: url(./../images/home-left-bg.png) no-repeat;
    background-position: center;
    z-index: -1;
    background-size: cover;
}

.home-large-logo {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-large-logo img {
    width: 320px !important;
}

.home-logo img {
    width: 320px !important;
}

img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

img {
    max-width: 100%;
}

.alerts {
    color: #fff;
    line-height: 18px;
    font-size: 13px;
    padding-left: 30px;
    padding-bottom: 0;
    padding-top: 5px;
    position: relative;
    z-index: 1;
}

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #136ba9;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* a:hover {
    text-decoration: none;
} */

a:visited {
    text-decoration: none;
    outline: none;
}

.home-left-menu {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.home-left-menu li {
    display: inline-block;
    position: relative;
}

.home-left-menu ul > li > a {
    border: 1px solid #707070;
    display: inline-block;
    font-size: 14px;
    padding: 4px 8px;
    color: var(--accent1-color);
    margin-left: 5px;
    border-radius: 4px;
    text-decoration: none;
    outline: none;
}

/* hero image */

.home-slider {
    position: relative;
    max-height: 100%;
    height: 600px;
    background: url(./../images/cascadalamana.webp) no-repeat center;
    background-size: cover;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.menu-area {
    background: rgb(39 8 160 / 0.9);
    padding: 15px 0px;
    margin-top: 40px;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1240px !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.text-right {
    text-align: right!important;
}

.menu-section ul li {
    display: inline-block;
    position: relative;
}

.menu-section li a.economic {
    border: 2px solid #fff;
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 6px;
    margin-left: 15px;
    transform: translateY(-10px);
}

.menu-section li a {
    color: #fff;
    padding: 0px 25px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.menu-section li a.economic span {
    background: #347435;
    padding: 5px 25px;
    line-height: 23px;
    display: block;
    margin: 5px;
    border-radius: 4px;
}

.menu-section li a span {
    display: block;
    text-align: center;
}

.menu-section li a span.menu-icon {
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    top: 0;
    line-height: 60px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
}

.menu-section li a span.menu-icon img {
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 0;
    display: inline-block;
}

.menu-section li a span.menu-icon {
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    top: 0;
    line-height: 60px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
}

ul.submenu, .responMenu ul.submenu {
    position: absolute;
    left: 0;
    top: 45px;
    width: 220px;
    background: #5ab25c;
    text-align: left;
    padding: 10px;
    margin-left: 0;
    padding-left: 0;
    z-index: 2;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.home-logo {
    text-align: right;
}

.home-logo a {
    display: inline-block;
}

.home-logo img {
    display: inline-block !important;
    width: 200px !important;
}

.menu-section li a strong {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 42px;
    border-top: 1px solid #fff;
    padding-top: 10px;
}

.header-right-info {
    text-align: right;
    margin-top: 20px;
    background-color: rgba(0,0,0,.45);
}

.header-right-info span {
    color: #fff;
    margin-right: 10px;
}

.header-right-info a.social {
    margin-left: 4px;
}

.header-right-info a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

/* movile area */
.mobile-menu {
    display: none;
}
.slicknav_menu {
    display: none;
}
.slicknav_menu {
    zoom: 1;
    font-size: 16px;
    background: #4c4c4c;
    padding: 5px;
}
.slicknav_menu, .slicknav_menu * {
    box-sizing: border-box;
}
.slicknav_menu:after, .slicknav_menu:before {
    content: " ";
    display: table;
}
.slicknav_menu:after {
    clear: both;
}
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222;
}

.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: .438em .625em;
    line-height: 1.125em;
}

.slicknav_menu .slicknav_icon:before {
    background: 0 0;
    width: 1.125em;
    height: .875em;
    display: block;
    content: "";
    position: absolute;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #fff;
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: .125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.25);
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: .188em;
}

.slicknav_btn, .slicknav_nav .slicknav_item {
    cursor: pointer;
}
.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 3px #000;
}
.slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: .875em;
    margin: .188em 0 0 .438em;
    transition: 0.2s 0.1s;
}

.slicknav_icon:hover {
    transform: rotate(360deg);
}

.slicknav_menu .slicknav_no-text {
    margin: 0;
}
.slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    font-size: .875em;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.slicknav_nav .slicknav_item a {
    display: inline;
}

.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0;
}

.slicknav_nav a {
    text-decoration: none;
    color: #fff;
}

.slicknav_hidden {
    display: none;
}

.slicknav_icon-bar:nth-child(1).animado {
    transform: rotate(-45deg) translate(-3px, 4px);
}

.slicknav_icon-bar:nth-child(2).animado {
    opacity: 0;
}

.slicknav_icon-bar:nth-child(3).animado {
    transform: rotate(45deg) translate(-3px, -4px);
}

/* end movile area */

.share.login {
    background: none;
    color: #fff;
}

.share {
    background: #fff;
    display: inline-block;
    padding: 0px 18px;
    border-radius: 5px;
    height: 25px;
    color: #136ba9;
    margin-left: 5px;
    font-size: 15px;
    line-height: 21px;
    border: 1px solid #fff;
}


.fa {
    color: #fff;
    vertical-align: middle;
}

/* Footer */

.footer-top-area {
    background: #707070;
    padding: 15px 0px;
    position: relative;
    z-index: 1;
}

.footer-bottom {
    background: #211f20;
}

/* .footer-bottom .row  {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.foter-right-logo {
    padding-top: 25px;
}

.foter-right-logo a img {
    width: 120px;
    padding-right: 15px;
}

.foter-right-logo a {
    display: inline-block;
}

a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
}

.footer-txt {
    padding-top: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border-left: 1px dotted #fff;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-left: 30px;
    border-right: 1px dotted #fff;
}

.company-name {
    margin-top: 40px;
    position: relative;
}

.footer-copyright-txt {
    text-align: center;
    padding: 20px 0px;
    color: #999999;
    font-size: 13px;
}

.footer-top-area {
    background: #707070;
    padding: 15px 0px;
    position: relative;
    z-index: 1;
}

.footer-top-area:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    content: "";
    background: #3d95d4;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li a {
    color: #fff;
    padding: 0px 25px;
    border-right: 1px dotted #fff;
}

/* welcome section */
#wel-cont {
    background-color: #cae9ff;
    padding: 40px 0px;
}

.section-title h6 {
    color: var(--dark);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 20px;
}

.section-title h2 {
    color: var(--secundary-color);
    font-weight: 600;
    font-size: 35px;
}

.section-title h5 {
    color: var(--dark);
    font-size: 16px;
    border-top: 1px solid #a7b1b8;
    border-bottom: 1px solid #a7b1b8;
    padding: 12px 0px;
    margin-bottom: 30px;
    display: inline-block;
}

.text-left {
    text-align: left!important;
}

.section-logo-right img {
    margin-bottom: 30px;
}

.global-section-logo {
    position: relative;
    z-index: 1;
}

.global-section-logo.beforeAfter:after {
    left: auto;
    right: 0;
}

.global-section-logo.beforeAfter:after, .global-section-logo.beforeAfter:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 9%;
    content: "";
    background: #bddff5;
    z-index: -1;
}

.global-section-logo.beforeAfter:after {
    left: auto;
    right: 0;
}


.wel-cont-weather {
    background-color: var(--white);
}

iframe {
    background-color: #000;
}
/* end welcome section */
/* home event area start */
.home-event-area {
    background-size: cover !important;
    background-position: center !important;
    padding: 50px 0px;
}

#event-cont {
    background: url(./../images/banano.png)no-repeat;
}
.home-event-area .event-title {
    color: var(--white);
}

.event-left-img {
    margin-top: 35px;
}

.event-txt {
    color: #fff;
}

.event-txt span {
    color: white;
    font-size: 18px;
}

.event-txt span, .event-facebook-feed span {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
}

.event-txt-bg {
    background: #fff;
    border: 10px solid rgb(221 221 221 / 0.9);
    margin-top: 20px;
    border-radius: 10px;
    padding: 16px;
}

.wli-event-item-list {
    text-align: left;
    float: none;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    height: 790px;
    width: 323px;
}

.wli-event-item-V2 {
    border-bottom: 1px dotted #707070;
    margin-bottom: 5px;
}
.event-txt span {
    font-weight: 600;
    font-size: 14px;
    color: #707070 !important;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
/* home event area ends */

/* main container sidebar discover*/
#main-sidebar {
    max-width: 1600px;
    margin: auto;
}
.container-sidebar {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
  }
  
  .sidebar {
    background-color: #f1f1f1;
    padding: 20px;
  }

  #sidebar-content {
    color: var(--primary-color);
    font-size: 2rem;
    padding: 1em 0;
    line-height: 1.5;
    font-weight: 700;
  }
  
  #image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
  }

  #image-container picture {
    padding: 1em;
  }
  
  img {
    width: 100%;
    height: auto;
  }


.card {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 0;
  }
  
  #calendar {
    height: 300px;
    border: 1px solid #ccc;
  }

.calendar-card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.calendar-card h2 {
    margin-top: 0;
}

  .grid-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
.grid-card h2 {
    text-align: center;
}

.grid-card1{
    grid-column: 1/2;
}

.grid-card2 {
    grid-column: 2/3;
}



/* main container discover ends */