@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
  /* Mobile view */
  @media (max-width: 600px) {
    .container-sidebar {
      grid-template-columns: 1fr;
    }

    .sidebar {
        margin-bottom: 20px;
    }
    .grid-set {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .grid-set label:nth-child(even) {
        grid-column: 1/2;
    } 
    .grid-set label:nth-child(odd) {
        grid-column: 1/2;
    }
    form {
        max-width: 900px;
        margin: 3rem 1rem;
    }
  }

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    
}
@media (min-width: 993px) {
    .container {
        max-width: 960px;
    }
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media only screen and (max-width: 767px) {
    .home-left-area {
        display: none;
    }
    .menu-area {
        display: none;
    }
    .home-logo {
        margin-top: 30px;
    }
    .home-logo a {
        width: 33%;
        float: left;
    }
    .slicknav_menu {
        background: #4797d0;
        position: absolute;
        width: 100%;
        z-index: 3;
        display: block;
    }
    .mobile-menu {
        display: block;
        height: 48px;
    }
    .activado {
        display: block;
        animation: 350ms ease-in-out both;
    }
    #image-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .menu-area {
        display: none;
    }
    .home-left-area {
        display: none;
    }
    .mobile-menu {
        display: block;
        height: 48px;
    }
    .slicknav_menu {
        background: #4797d0;
        position: absolute;
        width: 100%;
        z-index: 3;
        display: block;
    }
    ul.slicknav_nav li a {
        font-size: 22px;
        line-height: 35px;
    }
    .activado {
        display: block;
    }
    
}

@media only screen and (min-width: 992px) and (max-width: 1600px) {
    .home-left-area {
        width: 420px;
    }
    .alerts {
        padding-top: 26px;
    }

    .menu-section li a.economic {
        margin-left: 5px;
    }
    .menu-section li a {
        padding: 0px 10px;
        font-size: 14px;
    }
    .menu-section li a strong {
        font-size: 30px;
    }
    .footer-top-area:after {
        width: 18%;
    }
}
