/* Reset default styles */
* {
    box-sizing: border-box;
}
:root {
  --primary-color: #4DCAF0;
  --secondary-color: #333333;
  --terciary-color: white;
  --accent1-color: #245E70;
  --accent2-color: #3C9FBD;
  --paragraph-font: Lato, Helvetica, sans-serif;
  --headline-color-on-white: #396E94;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #396E94;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #396E94;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: #343434;
  --nav-hover-background-color: #396E94;
}

body {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
img {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #212121;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  max-width: 100%;
  display: block;
}

/* Page layout */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1600px;
  margin: auto;
  align-items: center;
}

#header-img {
  margin: 1em;
}

#header-text h1 {
  text-align: center;
  /* padding-left: 1em; */
}

nav {
  background-color: #fff;
  grid-column: 1 / 3;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1280px;
}

nav #active {
  background-color: #333;
  text-align: center;
}

nav #active a {
  color: #fff;
}

nav ul li {
  margin-right: 10px;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
  height: auto;
}

main {
  margin: auto;
}

.main-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main h2 {
  display: block !important;
}

.card {
  width: 350px;
  max-width: 90%;
  background-color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #f5f5f5;
}
.card-first {
  width: 600px;
}

.card div {
  width: 100%;
  height: 2.5em;
  background-color: #333;
  border-radius: 4px 4px 0 0;
  text-align: center;
}

.card h3 {
  color: var(--terciary-color);
  padding: 10px 0;
}

.card p {
  padding-left: 20px;
}

.card ul {
  padding: 20px;
  list-style: none;
}

.card ul a {
  text-decoration: none;
}

.card span a:nth-of-type(n) {
  color: #212121;
}

footer {
  grid-column: 1 / 3;
  text-align: center;
  background-color: #333;
  padding: 10px;
}

footer p {
  color: #fff;
}

/* Typography */
h1 {
  font-size: 38px;
  font-weight: bold;
  margin: auto 0;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
  padding-left: 1em;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

a {
  color: #333;
  transition: color 0.3s ease;
}

a:hover {
  color: #888;
}

