
form fieldset {
    margin: 2rem 0;
    border: 1px solid #212121;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #212121;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 0.8rem;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}

form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    color: var(--form-label-color);
    display: block;
    margin-bottom: 8px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="range"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--form-input-color);
  }

  input[type="submit"] {
    background-color: #245E70;
    color: white;
    border: none;
    padding: 10px 120px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }

  .error-message {
    color: var(--form-error-color);
    margin-top: 5px;
  }

  #ratingLabel {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  #record-complete {
    margin: 10em auto;
  
  }
  #record-complete h2 {
    font-size: 2rem;
    color: #4CAF50;
    font-weight: 700;
  }

  #title-form {
    text-align: center;
  }