@media screen and (max-width: 576px){
    img {
        width: 100px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        padding: 7px;
    }
    nav #active {
        width: 100%;
    }
    main {
        margin-bottom: 20px;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    h1 {
        font-size: 10vw;
        text-align: left;
    }
}

@media screen and (max-width: 768px){
    .main-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #header-text h1 {
        text-align: left;
        /* padding-left: 1em; */
    }
    /* hamburger */
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav-menu {
        position: fixed;
        left: -100%;
        top: 200px;
        width: 100%;
        gap: 0;
        transition: 0.3s;
        background-color: #ffffff;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}

@media screen and (max-width: 1005px) {
    .card-second {
        width: 600px;
    }
}